.alertSystem{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;

    .list-alert{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            margin: 0 0 8px;
        }
    }
    .alert.alert-danger{
        margin: 0;
        background: rgb(231, 195, 195);
    }
    .alert.alert-success{
        margin: 0;
        background: rgb(200, 229, 188);
    }
}